body {
  background-color: black;
  color: white;
}

.wd-search {
  height: 45px;
}

.wd-input {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  background-color: #212327;
}

.wd-input::placeholder {
  color: #72767a;
}

.wd-nav {
  color: rgb(110, 118, 125);
}

.wd-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wd-nav-selected {
  border-bottom: 4px solid rgb(29, 161, 242);
}